name: Build iOS
on: [push]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          # تثبيت Cython هو السطر الذي كان ينقصك
          python -m pip install --upgrade pip
          python -m pip install cython==0.29.33 
          python -m pip install kivy-ios
          brew install autoconf automake libtool pkg-config

      - name: Create Project
        run: |
          # إضافة --arch arm64 لضمان التوافق مع الآيفون الحديث
          toolchain build python3 kivy
          toolchain create "Cinemana" .
          
      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: iOS-Project
          path: .
